# PostgreSQL
POSTGRES_USER=eventuser
POSTGRES_PASSWORD=changeme
POSTGRES_DB=eventdb
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
